= form_for @blog do |f|
  - if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, {required: ''}
  .field
    = f.label :summary
    = f.text_field :summary
  .field
    = f.label :content
    = f.text_area :content, {required: ''}
  .field
    = f.label :keyword
    = f.text_field :keyword
  .field
    = f.label :weight
    = f.text_field :weight
  .field
    = f.label :parent_id
    = f.collection_select :parent_id, Blog.order(:name), :id, :name, include_blank: true
  .actions
    = f.submit 'Save'
