- title @blog.name
- meta_description @blog.summary 
- meta_keywords @blog.keyword
= notice

%h1= @blog.name
= markdown(@blog.content)

= social_share_button_tag(@blog.name)

- if user_signed_in?
  = link_to 'Edit', edit_blog_path(@blog)
  \|
  = link_to 'Back', blogs_path
